html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
#homeDiv {
    left: 15px;
    top: 130px;
    z-index: 35;
    position: absolute;
}
.sub-nav { 
    background-image: linear-gradient(45deg, rgba(100,100,100,1.0), rgba(100,100,100,0.0)) !important; 
}
.germany {
    background-image: linear-gradient(black 33.3%, red 33.3%, red 66.6%, gold 66.6%);
}
#menuDiv span {
    display:block;
}
.dijitButtonNode :hover {
    background-color:#555;
}
.esri-popup__main-container {
    max-height:1000px !important;
}


/* START own widgets */
.esride-camera-status {
  padding:6px;
}
.esride-time-flies {
  padding:6px;
  min-width:400px;
}
.esride-time-flies a {
  text-decoration:underline !important;
}
.btn {
    border:1px solid #eee;
}
.is-active {
    background-color: transparent !important;
    color:#0079c1 !important;
}
.popupbtn {
    margin-bottom:5px;
    display:block;
    min-width:135px;
    float:left;
}

.popupvid {
    float:right;
}
@media all and (min-width: 800px) {
    .popupvid {
        width:400px;
        height:300px;
    }
    .popupcontent {
        min-width:600px;
    }
}
@media all and (max-width: 800px) {
    .popupvid {
        width:300px;
        height:225px;
    }
    .popupcontent {
        min-width:500px;
    }
}
@media all and (max-width: 500px) {
    .popupvid {
        width:200px;
        height:150px;
    }
    .popupcontent {
        min-width:400px;
    }
}

.popupvid {
    float:right;
}
.popupcontent {
    margin-bottom:5px;
    display:block;
}
.drive-viewer-video {
    height:290px !important;
}
/* END own widgets */


/* START adjusting Calcite elements */
.loader {
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.7);
    z-index: 500;
    position: absolute !important;
}
.padding-leader-3 {
    padding-top: 45% !important;
}
/* END adjusting Calcite elements */


#visualization {
    background:#fff;
}